#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}

.map-display {
    text-align:center;
}


.bg-green-1 {
    background-color: #b2ed9a;
    color: black;
    width: 40px;
}

.bg-green-2 {
    background-color: #88d669;
    color: black;
    width: 40px;
}


.bg-green-3 {
    background-color: #3d9137;
    color: black;
    width: 40px;
}

.bg-green-4 {
    background-color: #011a08;
    color: white;
    width: 40px;
}

.bg-red {
    background-color:red;
    color: white;
    width: 80px;
}

.bg-blue {
    background-color: #5E87E8;
    color: white;
    width: 80px;
}

.leaflet-title
{
    color: white;
    font-size: 12px;
    margin-left:5px;
    margin-bottom:2px !important;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.map-heading{
    color:white;
}

.map-details{
    padding-bottom:10px;
}

.btn-MapSelected {
    background-color: #194f2d !important;
}

.btn-success:hover {
    background-color: #194f2d !important;
}

.active {
    color: #77CC39 !important;
    font-weight: 800 !important;
}

.nav-link {
    color: #77CC39 !important;
}

    .nav-link:hover {
        color: #087239 !important;
    }

.map-detail-list {
    color: white;
    text-align:left;
    font-size: small;
    padding-bottom:20px;
}
    .map-detail-list ul 
    {
        margin:0;
    }

.circle {
    width: 16px;
    height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #FDA50F;
    margin-left:15px;
}

.f-white {
    color: white !important;
}

.line-chart{
    width:100%;
    min-height:400px;
}


.radar-chart {
    width: 100%;
    min-height: 400px;
}